@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

* {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --primary-color: #000;
    --secondary-color: #cfcfcf;
    --background-color: #fff;
    --font-family-name: "Lato";
    --font-generic-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #eeeeee;
        --secondary-color: #393e46;
        --background-color: #222831;
    }
}

body {
    font-family: var(--font-family-name), var(--font-generic-family);
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 43.75rem;
    margin: auto;
}

.title {
    text-align: center;
}

.footer {
    text-align: center;
    margin-bottom: 1rem;
}

.loadButton {
    height: 3rem;
}

button {
    cursor: pointer;
    color: var(--primary-color);
    border: 0.1rem solid var(--secondary-color);
    padding-right: 1rem;
    padding-left: 1rem;
    background: none;
    min-height: 2rem;

    font: inherit;
}

button:hover {
    background-color: var(--secondary-color);
}
