.pokemonList {
    list-style-type: none;
    padding: 0;
}
.pokemonListElement {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 0.0625rem solid var(--secondary-color);
}
.pokemonListElement:last-of-type {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 0;
}

.pokemon {
    display: flex;
    transition: margin-left 0.1s ease-in-out;
}
.pokemon:hover {
    cursor: pointer;
    margin-left: 1rem;
    transition: margin-left 0.1s ease-in-out;
}

.stats > h2,
.stats > h4 {
    margin: 0;
    font-weight: 400;
}

.moreStats {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}
.moreStatsHidden {
    opacity: 0;
    height: 0;
}

.sprite {
    max-height: 2.8125rem;
    width: auto;
    transition: max-height 0.2s ease-in;
}

.spriteLarge {
    max-height: 6rem;
    width: auto;
    transition: max-height 0.2s ease-out;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.pokeball {
    animation: rotating 2s ease-in-out infinite;
    max-height: 3rem;
}

#sortSelect {
    border-color: var(--secondary-color);
    margin-left: 0.25rem;
}

.settingBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.settingBar:first-child {
    display: flex;
    align-items: center;
}
