* {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --primary-color: #000;
    --secondary-color: #cfcfcf;
    --background-color: #fff;
    /* --font-family-name: "Handlee";
    --font-generic-family: cursive; */
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #fff;
        --secondary-color: #7a7a7a;
        --background-color: #333333;
    }
} */

body {
    font-family: var(--font-family-name), var(--font-generic-family);
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 43.75rem;
    margin: auto;
}
